extends layouts/app.pug

block content

    section 
        .article-page
            div(class="px-5 py-5") 
                .article-page-content   
                    a(href="/index.html" class="underline") Вернуться на главную  
                    div
                        p.heading-secondary Дыхательная гимнастика при бронхите
                        p Бронхит ― воспаление бронхов, которое может быть любой природы: вирусной, бактериальной, может быть из-за химического повреждения и других раздражающих факторов. Заболевание встречается часто, поражает детей и взрослых и может быть хроническим или острым. Наверняка хоть раз в жизни каждый человек сталкивался с бронхитом и знает, что основной его симптом ― это кашель с мокротой. Кашель порой может мучать до нескольких месяцев после острого бронхита. Как же справиться с ним и ускорить выздоровление?
                    div 
                        p.heading-secondary Как лечить бронхит
                        p Лечение бронхита комплексное, но одна из важных составляющих в восстановлении функции дыхания ― это дыхательная гимнастика. Специальные упражнения помогают укрепить мышцы грудной клетки и диафрагмы, улучшают отхождение мокроты, нормализуют газообмен, а значит приближают улучшение. Гимнастику рекомендуют взрослым и детям, правда есть некоторые нюансы. 
                    div 
                        p.heading-secondary Дыхательная гимнастика детям 
                        p 
                            | Дыхательные упражнения для малышей очень важны. Дело в том, что дети, особенно первых лет жизни, не умеют правильно кашлять. Если мокроты много, если маленький пациент принимает отхаркивающие препараты, то без дыхательных упражнений, мокрота может скапливаться в нижних отделах бронхов. Это часто осложняется пневмонией. 
                            br
                            br
                            | Для малышей упражнения проводят в игровой форме. Так ребенку веселее и лучше усваиваются движения. Упражнения направлены на нормализацию вдоха и выдоха, качество кашлевого толчка. 
                            br
                            br
                            | Детям нравится делать упражнения, такие, как:
                        ul(class="list-disc pl-5") 
                            li “одуванчик”, когда воздух втягивается через нос и медленно выдыхается через рот; 
                            li “пчёлка”, когда при выдохе просят малыша обнять себя самого руками, а при вдохе расправить руки и как пчёлка ими помахать и пожужжать;
                            li “паровоз” ― малыш делает глубокий вдох носом, а на выдохе, ходя по комнате изображает паровоз, говоря “чух-чух” и делая характерные движения согнутыми в локтях руками;
                            li “трубочка” ― ребёнку дают трубочку для питья, ёмкость с водой (стакан) и просят вдох делать носом, а выдох делать в воду через трубочку. Получается весёлое бульканье. 
                        p Одно важное условие ― необходимо все упражнения выполнять, не допуская усталости. Также у ослабленного болезнью ребёнка может закружиться голова. В этом случае нужно присесть, спокойно и глубоко дышать в собранные горстью ладони.  
                    div 
                        p.heading-secondary Дыхательная гимнастика взрослым
                        p 
                            | Со взрослыми можно работать осознаннее и решать больше задач. Для тех, кто постарше существуют общеукрепляющие упражнения и аппаратные методики, авторские комплексы, например гимнастика по Стрельниковой или других авторов. В зависимости от особенностей и запросов пациента курс упражнений подбирается индивидуально. 
                            br
                            |Также лучше и для детей, и для взрослых первый курс обучения пройти с тренером, чтобы в дальнейшем выполнять упражнения без ошибок. 
                    div 
                        p.heading-secondary Когда нельзя делать дыхательную гимнастику
                        p 
                            |Дыхательную гимнастику можно делать даже тяжелым лежачим пациентам, например, тем кто находится на аппаратной поддержке. Но в этом случае комплекс и упражнения должен проводить врач реабилитолог. 
                            br
                            |В домашних же условиях не рекомендуют делать активную дыхательную гимнастику при высокой температуре, выраженной слабости. Однако, такие упражнения, как “трубочка” и “одуванчик” могут помочь отхождению мокроты даже у тех, кто сильно недомогает. 
                            br
                            br
                            | Важно помнить, что и прогулка на свежем воздухе считается дыхательной гимнастикой. При реабилитации после бронхита необходимо движение, поэтому не забывайте о прогулках. Взрослым можно взять с собой палочки для скандинавской ходьбы, а детям достаточно гулять, прыгать и в общем вести себя, как положено малышам. 
                            br
                            | Будьте здоровы!
                    div 
                        p Использованная литература:
                        ul(class="list-decimal pl-5") 
                            li Минникова Н. В. Трофимова Я. А. Оценка эффективности использования дыхательной гимнастики по А. Н. Стрельниковой со старшими дошкольниками // Наука-2020 / №4 (15).— 2017.
                            li Серазетдинова Л. И., Утегенова Н. Р., Шайдуллина Г. Г. Техники дыхательных упражнений как компонента системы оздоровления: Учебно-методическое пособие/ Казань: Казанский университет, 2016. 
                            li Дыхательная гимнастика для детей ― Климович Э.В. 2022 г. 
                            li РЦРЗ МЗ РК Клинические протоколы МЗ РК Хронический бронхит у взрослых 