extends layouts/app.pug

block content

    section 
        .article-page
            div(class="px-5 py-5") 
                .article-page-content   
                    a(href="/index.html" class="underline") Вернуться на главную  
                    div
                        p.heading-secondary Почему болит горло? Причины и последствия.
                        p Содержание:
                        ul(class="list-decimal ") 
                            li Почему важно обращать внимание  на боль в горле?
                            li Какие причины  возникновения боли в горле?
                            li При каких симптомах нужно обратиться к врачу
                        p Бронхит ― воспаление бронхов, которое может быть любой природы: вирусной, бактериальной, может быть из-за химического повреждения и других раздражающих факторов. Заболевание встречается часто, поражает детей и взрослых и может быть хроническим или острым. Наверняка хоть раз в жизни каждый человек сталкивался с бронхитом и знает, что основной его симптом ― это кашель с мокротой. Кашель порой может мучать до нескольких месяцев после острого бронхита. Как же справиться с ним и ускорить выздоровление?
                    div 
                        p  1.Боль в горле – один из самых распространенных симптомов в амбулаторной практике врача. Каждый из нас сталкивался c этим симптомом множество раз. Чувство боли-общее понятие; при разных заболеваниях боль может быть острой или ноющей, проявляться чувством сухости или легкого першения, жжением или дискомфортом при глотании. Этот симптом может возникнуть резко или усиливаться в течение нескольких дней, а также сопровождаться общим недомоганием или развиваться на фоне нормального самочувствия. Все зависит от провоцирующего фактора. Болезненности в горле не принято уделять много внимания, многие недооценивают серьезность осложнений. Желая перенести болезнь «на ногах», каждый подвергается риску развития как местных так и системных осложнений{1}.  Ведь  при длительном пребывании в организме человека, патогенные микроорганизмы, вызвавшее воспаление и боль в горле, с током крови и лимфы распространяются в органы, через которые проходит значительная часть кровотока: сердце, почки. Там эти же бактерии создают колонии и начинают проявлять патогенное действие.Возникает риск развития ревматизма-патологии, которая поражает соединительную ткань. Данное заболевание охватывает почти все системы человеческого организма: сердечно-сосудистую, выделительную, дыхательную, опорно-двигательную, возникает поражение  сердечной мышцы, почек, суставов, что может привести вплоть до инвалидизации {2}  

                    div 
                        p 2.Чаще боли в горле являются симптомами вирусной или бактериальной инфекции, которые вызывают воспалительные заболевания носоглотки, гортани{3}. Причина коло 80% случаев возникновения боли — это вирусные инфекции, особенно распространенные в осенний и зимний сезон. В симптоматике отмечается увеличение шейных лимфатических узлов, ломота в суставах, осложнение глотания, повышение температуры, понижение работоспособности, утомляемость. Также  боль в горле может быть симптомом таких наиболее распространенных заболеваний:
                        ul(class="list-disc ") 
                            li вирусный фарингит (боль в горле, сухой кашель, увеличение лимфоузлов, температура); 
                            li энтеровирусная инфекция (боль в горле, сыпь, повышение температуры, рвота);
                            li инфекционный мононуклеоз (боль в горле, слабость, боли в мышцах и суставах, боль при глотании, увеличение лимфоузлов и миндалин); 
                            li аденовирусная инфекция (боль при глотании,  повышенная температура, заложенный нос, отеки миндалин и век);  
                            li коронавирусная болезнь COVID-19 (этот симптом менее распространен, тогда как чаще наблюдаются лихорадка, сухой кашель, утомляемость). 
                        p В случае бактериального воспаления: боль в горле начинается внезапно,  есть высокая температура, осложненное глотание, ощущение "горячей картофелины" в горле. При отеке миндалин может быть трудно говорить, на миндалинах виден белый налет. Бактериальные инфекции могут вызвать:  
                        ul(class="list-disc ") 
                            li стрептококковый фарингит (боль в горле, лихорадка с острым началом, покраснение горла, увеличение миндалин, желтый налет с прожилками крови на слизистой миндалин);
                            li тонзиллит (боль и першение в горле, повышение температуры тела, резкая боль  при глотании, сухость в горле, может возникнуть кашель в виде приступов, головная боль, болевые ощущения в мышцах, увеличение лимфатических узлов)
                        p Так же боль в горле может быть вызвана грибковой инфекцией, аллергическим ринитом, курением,  механическим повреждением, ожогом слизистой, сухим воздухом в комнате, опухолью, напряжением мышц и изменениями в позвоночнике или мышцах шеи и др.{4}
                    div 
                        p 3.При отсутствии дополнительных жалоб многие не спешат лечиться медикаментозно   или обращаться к врачу, используя для лечения народные средства и надеясь, что такая незначительная проблема пройдёт самостоятельно. Иногда боль в горле проходит, но бывают случаи, когда такой подход приводит к серьезным осложнениям. Запущенный ларингит — это прямой путь к его атрофической форме. У взрослых возникает уменьшение тонуса мышц и голосовых связок, а дети могут быть подвержены удушью. Фарингит со временем переходит в хроническую форму. А если возбудитель попадет в кровь, то может привести к летальному исходу. Ангина влияет на множество внутренних органов. Осложнения после ее возникновения могут затронуть почки,  дыхательные пути,  носоглотку и сердце{5}
                    div 
                        p.heading-secondary Чтобы не допустить осложнений, важно своевременно начать лечение, воздействующее на причину и  не пропустить симптомы, при которых   не обойтись без помощи врача. 
                        p Записаться к отоларингологу или семейному врачу нужно при наличии следующих серъезных симптомов: отекла шея, резко болезненны шейные лимфоузлы, высокая  температура тела на протяжение нескольких дней, боль в горле не проходит более 2-3 дней, усиливается или появляются другие симптомы
                        p Чтобы вовремя остановить заболевание и не допустить осложнений и обращений к врачу-важно использовать эффективное лечение, которое не только уменьшит боль, но и устранит причину воспаления.
                    div 
                        ul(class="list-decimal ") 
                            li Michael E Pichichero, MD/ Complications of streptococcal tonsillopharyngitis/ UpToDate/Oct 24, 2022.
                            li Asteberg I, Andersson Y, A food-borne streptococcal sore throat outbreak in a small community. Scand J Infect Dis. 2006;38(11-12):988-94. 
                            li Varosy PD, Newman TB/ Acute pharyngitis./ N Engl J Med. 2001;344(19):1479; author reply 1480. 
                            li Huovinen P et al. Pharyngitis in adults: the presence and coexistence of viruses and bacterial organisms. Ann Intern Med. 1989;110(8):612. 
                            li Begovac J, KuzmanovićN, Bejuk D, Comparison of clinical characteristics of group A streptococcal bacteremia in children and adults. Clin Infect Dis. 1996;23(1):97.                         