extends layouts/app.pug

block content

    section 
        .article-page
            div(class="px-5 py-5") 
                .article-page-content   
                    a(href="/index.html" class="underline") Вернуться на главную  
                    div
                        p.heading-secondary Современные стандарты лечения боли в горле.
                        p Содержание:
                        ul(class="list-decimal ") 
                            li Когда нужно начинать лечить  боль  в горле. 
                            li Какие  подходы для лечения боли в горле существуют.
                            li Преимущества молекулы бензидамина в лечении воспалительных поражений горла.
                            li Общие рекомендации при заболевании горла?
                        p Бронхит ― воспаление бронхов, которое может быть любой природы: вирусной, бактериальной, может быть из-за химического повреждения и других раздражающих факторов. Заболевание встречается часто, поражает детей и взрослых и может быть хроническим или острым. Наверняка хоть раз в жизни каждый человек сталкивался с бронхитом и знает, что основной его симптом ― это кашель с мокротой. Кашель порой может мучать до нескольких месяцев после острого бронхита. Как же справиться с ним и ускорить выздоровление?
                    div 
                        p 1. Согласно современным взглядам небные миндалины  находятся в процессе постоянного воспаления, в рамках своей защитной функции, т.к. служат «воротами» на пути инфекции в организм через дыхательные пути[1]. Воспалительный процесс достигает клинической значимости только тогда, когда к этому «физиологическому» воспалению присоединяются клинические симптомы, такие как боль, нарушения глотания и системные признаки воспаления (повышение температуры тела, недомогание). С болью в горле и затрудненным глотанием может быть установлен один из трех диагнозов: «острый тонзиллит», «острый фарингит», «острый тонзиллофарингит». Последний включает одновременное поражение ткани глотки и небных миндалин..[2] И когда присоединяется симптоматика-горло нужно лечить.  

                    div 
                        p 2. Подбирая лечение боли, нужно понимать,  важно не только убрать симптомы воспаления, но и воздействовать на первопричину. Доказано, что чаще всего воспаление в горле, сопровождающееся болью,  вызвано вирусами (аденовирусы человека или вирус Эпштейна-Барр). Как главный бактериальный возбудитель следует рассматривать β-гемолитический стрептококк группы А (БГСА) – Streptococcus pyogenes. Он является причиной заболевания в 15-30% случаев в детском возрасте и в 5-10% – во взрослой жизни. Различные грибковые поражения стоят на третьем месте по частоте возникновения воспалений в горле[3]
                        p Боль в горле приносит сильный дискомфорт, но обычно быстро проходит и не является серьезным заболеванием при своевременном лечении. Домашние средства и безрецептурные лекарства могут помочь уменьшить ощущение боли в горле и выздороветь,  однако есть случаи при которых стоит обратиться к врачу. Американская академия отоларингологии  рекомендует немедленно обратиться к врачу если вы чувствуете:
                        ul(class="list-disc") 
                            li интенсивную боль, сопровождающаяся появлением сыпи на коже и слизистых 
                            li затрудненное дыхание  или невозможность открыть рот
                            li припухлость лица или шеи 
                            li хрипота, которая продолжается более 2 недель
                        p Во всех остальных случаях есть возможность лечиться самостоятельно.   
                    div 
                        p.heading-secondary Чаще всего используют средства местного действия: 
                        ul(class="list-disc ") 
                            li Полоскания различными растворами (антисептические, противовоспалительные компоненты)
                            li Спреи для горла с обезболивающим, антимикробным, противовоспалительным действием 
                            li Таблетки для рассасывания, которые используются для временного уменьшения боли в горле 
                        p Если причиной появления боли стали бактерии, например, при  гнойной ангине, врачи рекомендуют прием антибактериальных средств. Но важно помнить-антибиотики обычно назначают при лабораторно подтвержденном бактериальном фарингите. Они бесполезны при вирусном фарингите и могут быть связаны с побочными эффектами, включая диарею, аллергию, повышенную устойчивость бактерий, ненужные расходы и т. д. Назначаются только врачом и самолечение недопустимо. 
                    div 
                        p 3. Как же среди множества средств выбрать эффективное и безопасное  лекарство? Известно, что  при  острым тонзиллите, фарингите,  доказана эффективность использования нестероидных противовоспалительных препаратов (НПВП)[4]
                        p Среди НПВС стоит отметить уникальность  молекулы бензидамина.   Исследования по изучению эффективности бензидамина гидрохлорида ¬показали, что препарат имеет широкий спектр влияния на первопричину, устраняя источник проблемы а не только симптомы:
                        ul(class="list-disc")
                            li уменьшает высвобождение медиаторов воспаления, угнетает синтез провоспалительных цитокинов и прерывает воспалительный процесс на начальных этапах развития;
                            li оказывает бактерицидное действие на 110 видов бактерий;
                            li обладает фунгицидным эффектом по отношению к грибам рода Candida. 
                            li при местном применении бензидамин действует как дезинфицирующее средство. 
                        p При выборе формы выпуска препарата, важно обратить внимание, что  спреи в отличии от других форм более   прицельно воздействуют на очаг воспаления, удобны в применении и  позволяют добиться максимального результата. Доставка лекарственного вещества  непосредственно в очаг воспаления определяет  способность проникать в эпителиальный слой воспалённых тканей  и достигать эффективных концентраций. При местном применении в рекомендуемой дозе бензидамин абсорбируется слизистой оболочкой, однако его концентрация в плазме крови при этом настолько мала, что не оказывает фармакологического действия и побочного действия( в отличии от других НПВС). Препарат является безопасным, что делает его универсальным для назначения взрослым и детям.
                    div 
                        p 4. Помимо приема лекарственных средств, в лечении боли в горле необходимо придерживаться общих рекомендаций по режиму, а именно:
                        ul(class="list-disc") 
                            li пить много жидкости, что позволит уменьшить концентрацию токсинов в крови, ускорит их выведение, а также снизит температуру и предупредит обезвоживание организма;
                            li употреблять «мягкую» пищу, которая не сможет дополнительно травмировать слизистую горла;
                            li отказаться от курения;
                            li контролировать уровень влажности воздуха в комнате – не ниже 60%, что предупредит пересушивание слизистой горла;
                            li не стоит кричать, громко смеяться, чтобы не напрягать голосовые связки.                        
                        p Что касается средств народной медицины, следует осторожно относиться к  ним, так как нередко развиваются аллергические реакции. Таким образом можно усугубить течение заболевания, увеличить отек тканей горла и спровоцировать появление одышки. Согревающие процедуры в области шеи проводить не рекомендуется, пока не будет известна причина болезни. При наличии инфекции, гнойного воспаления в миндалинах или горле, тепло может способствовать распространению бактерий и поражению здоровых тканей. 
                    div 
                        ul(class="list-decimal")
                            li -Fisher Randall G. Moffet’s Pediatric Infections Diseases / Randall G. Fisher, Thomas G. Boyce // A Problem Approach. – 4th edition. – 2005. – 1054 p.
                            li -4- В.И. Попович. Роль топических противовоспалительных средств в терапии заболеваний лимфоглоточного кольца «Здоровье Украины» №2, май 2017.
                            li Т.Тлустова /ГАЗЕТА "НОВОСТИ МЕДИЦИНЫ И ФАРМАЦИИ" /4 (445) 2013